/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-nightwing: rgb(0, 0, 64);
    --color-salmon: rgb(255, 145, 125);
    --color-oak: rgb(198, 162, 126);
    --color-nature: rgb(48, 69, 41);

    @font-face {
      font-family: 'Caveat';
      src: url("web/public/Caveat-SemiBold.ttf");
    }
  }
}

/**
 * END --- SETUP TAILWINDCSS EDIT
 */

/* HIDE CHECKBOX AND FIX IMAGE */
[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
img {
  cursor: pointer;
}

[type=checkbox] + p {
  cursor: pointer;
}

/* OUTLINE*/
[type=checkbox]:checked + img {
  outline: 5px solid rgb(48, 69, 41);
}
