/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-nightwing: rgb(0, 0, 64);
    --color-salmon: rgb(255, 145, 125);
    --color-oak: rgb(198, 162, 126);
    --color-nature: rgb(48, 69, 41);

    --color-gold: rgb(245, 191, 3);
    --color-silver: rgb(192, 192, 192);
    --color-bronze: rgb(205, 127, 50);

    @font-face {
      font-family: 'Caveat';
      src: url("web/public/Caveat-SemiBold.ttf");
    }
  }
}

/**
 * END --- SETUP TAILWINDCSS EDIT
 */

/* Put cursor on images */
img {
  cursor: pointer;
}

/* Put cursor on checkbox */
[type=checkbox] + p {
  cursor: pointer;
}

[type=checkbox] + span {
  cursor: pointer;
}


/* Hide the actual checkbox */
[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
